[submodule ".config/mpv/uosc"]
	path = .config/mpv/uosc
	url = https://github.com/darsain/uosc
[submodule ".config/mpv/scripts/sponsorblock"]
	path = .config/mpv/scripts/sponsorblock
	url = https://github.com/maximbaz/mpv_sponsorblock.git
[submodule ".config/xplr/wl-clipboard"]
	path = .config/xplr/wl-clipboard
	url = https://github.com/sayanarijit/wl-clipboard.xplr.git
